<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="home :: common_head"></head>

<body>
<div th:replace="home :: common_nav"></div>

<div class="container">

    <div class="row lp-border-shadow" style="margin-top: 5%; padding-top: 50px; padding-bottom: 50px;">

        <div class="col-md-3 ">
            <ul class="nav nav-pills nav-stacked nav-pills-fit">
                <li role="presentation"><a th:href="@{/student/course/list}"><span
                        class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> 我的课程</a></li>
                <li role="presentation"><a th:href="@{/student/lecturer/follow-list}"><span
                        class="glyphicon glyphicon-heart" aria-hidden="true"></span> 关注讲师</a></li>
                <li role="presentation"><a th:href="@{/student/course/collection}"><span
                        class="glyphicon glyphicon-star" aria-hidden="true"></span> 收藏课程</a></li>
                <li role="presentation"><a th:href="@{/student/course/news}"><span class="glyphicon glyphicon-time"
                                                                                   aria-hidden="true"></span> 课程动态</a>
                </li>
                <li role="presentation"><a th:href="@{/student/info/messages}"><span class="glyphicon glyphicon-bell"
                                                                                     aria-hidden="true"></span>
                    我的消息</a></li>
                <li role="presentation"><a th:href="@{/student/course/orders}"><span
                        class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    我的订单</a></li>
                <li role="presentation"><a th:href="@{/student/info}"><span class="glyphicon glyphicon-user"
                                                                            aria-hidden="true"></span> 个人信息</a></li>
                <li role="presentation" class="active"><a th:href="@{/student/password}"><span
                        class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改密码</a></li>
            </ul>
        </div>

        <div class="col-md-9 right-box">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="active">修改密码</li>
                </ol>
            </div>
            <form class="form-horizontal" method="post" th:action="@{/student/password/modify}" id="passForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="raw-password">输入原始密码：</label>
                    <div class="col-sm-3">
                        <input type="password" id="raw-password" name="rawPassword">
                    </div>
                    <div class="col-sm-7 password-hint1" style="color: red"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="new-password">输入新密码：</label>
                    <div class="col-sm-3">
                        <input type="password" id="new-password" name="newPassword">
                    </div>
                    <div class="col-sm-7 password-hint2" style="color: red"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="confirm-password">确认新密码：</label>
                    <div class="col-sm-3">
                        <input type="password" id="confirm-password" name="confirmPassword">
                    </div>
                    <div class="col-sm-7 password-hint3" style="color: red"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-primary btn-sm" id="btn-submit">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</div><!--container-->

<script type="text/javascript">
    $(document).ready(function () {

        var passwordBoolean = false;
        var repeatBoolean = false;
        var confirmBoolean = false;

        $('#raw-password').blur(function () {
            if ($(this).val().length === 0) {
                passwordBoolean = false;
                $(".password-hint1").text("密码不能为空!");
            } else {
                passwordBoolean = true;
                $(".password-hint1").text("");
            }
        });
        $('#new-password').blur(function () {
            if ($(this).val().length === 0) {
                repeatBoolean = false;
                $(".password-hint2").text("密码不能为空!");
            } else {
                repeatBoolean = true;
                $(".password-hint2").text("");
            }
        });
        $('#confirm-password').blur(function () {
            if ($(this).val() != $('#new-password').val()) {
                confirmBoolean = false;
                $(".password-hint3").text("密码输入不一致!");
            } else {
                confirmBoolean = true;
                $(".password-hint3").text("");
            }
        });

        $('#btn-submit').click(function () {
            //console.log($("#checkbox-agree").prop("checked"));
            if (passwordBoolean && repeatBoolean && confirmBoolean) {
                //alert("修改成功");
                $.ajax({
                    url: "/student/password/modify",
                    data:{rawPassword:$('#raw-password').val(),newPassword:$('#new-password').val(),confirmPassword:$('#confirm-password').val()},
                    type: "post",
                    datatype: "text",/*返回的就是一个json对象*/
                    success: function (data) {
                        alert(data);
                        if(data=='修改成功！'){
                            window.location.href = "/logout";
                        }
                    }
                });
                //$("form").submit();
            } else {
                alert("输入框不能为空或者密码输入不一致");
            }
        });

        /*//在提交表单之前进行两次输入密码相同性验证
        $("#btn-confirm").click(function () {
            if ($("#new-password").val() === $("#confirm-password").val()) {
                $("#passForm").submit();
            } else {
                $("#message-tip").text("输入密码不一致!");
            }
        })*/
    });


</script>
</body>
</html>