<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="home :: common_head"></head>

<body>

<div th:replace="home :: common_nav"></div>

<div class="container">

    <div class="row topStudy">
        <div class="col-md-5">
            <h3><a target="_blank" th:href="@{'/student/course/view?id='+${course.id}}"
                   th:text="${course.name}">课程名称</a>
                <small><a th:href="@{'/student/lecturer/info?id='+${course.id}}"
                          th:text=" ' 讲师：' +${course.lecturer.nickname}">讲师</a></small></h3>
        </div>
    </div>
    <div class="row lp-border-shadow">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked nav-pills-fit">
                <li role="presentation"><a th:href="@{|/student/course/notice?id=${course.id}|}"><span
                        class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 课程公告</a></li>
                <li role="presentation"><a th:href="@{|/student/course/learn?id=${course.id}|}"><span
                        class="glyphicon glyphicon-education" aria-hidden="true"></span> 课程学习</a></li>
                <li role="presentation"><a th:href="@{|/student/course/notes?id=${course.id}|}"><span
                        class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 课堂笔记</a></li>
                <li role="presentation"><a th:href="@{|/student/course/share?id=${course.id}|}"><span
                        class="glyphicon glyphicon-book" aria-hidden="true"></span> 课程共享资料</a></li>
                <li role="presentation" class="active"><a th:href="@{|/student/course/comment?id=${course.id}|}"><span
                        class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 问答区</a></li>
            </ul>
        </div>
        <div class="col-md-9 right-box" style="padding-left: 30px; padding-right: 30px;margin-top: 0;">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="active">课程问答区</li>
                </ol>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                        发布问题
                    </button>
                </div>
                <div class="col-lg-8">
                    <form class="form-inline" method="post" th:action="@{'/student/course/comment/search?id='+${course.id}}">
                        <div class="form-group">
                            <select name="questionSelect" th:value="${questionSelect}" id="questionSelect">
                                <option value="0">默认</option>
                                <option value="1">我的问题</option>
                            </select>
                            <label for="question-search">问题搜索：</label>
                            <input type="text" id="question-search" class="form-control" name="keyword"
                                       placeholder="请输入关键词">
                        </div>
                        <button class="btn btn-default" type="submit">确定</button>
                    </form>
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <hr>
            <div class="panel-body" style="max-height: 600px; overflow-y:scroll"><!--滚动条-->
                <div class="row" style="border: 1px  #000000; width: 90%; margin: 0 auto;"
                     th:each="comment : ${comments}">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-circle" height="60px" width="60px" th:src="${comment.imageSite}"
                                 alt="头像">
                        </div>
                        <div class="col-md-8" style="margin-left: -20px;">
                            <a target="_blank"
                               th:href="@{|/student/course/comment-detail?courseId=${course.id}&commentId=${comment.id}|}">
                                <span th:text="${comment.title}"></span>
                            </a>&emsp;
                            <span th:text="${comment.createTime}"></span>&emsp;<a
                                th:if="${student.username.equals(comment.username)}"
                                th:href="@{'/student/course/delete-comment?commentId='+${comment.id}+'&&courseId='+${course.id}}"
                                class="btn btn-primary btn-xs">删除</a>
                            <br>
                            <span th:text="${comment.nickname}"></span><span th:if="${comment.type==1}">(讲师）</span>:&emsp;
                            <p th:text="${comment.content}"
                               style="white-space:nowrap; text-overflow: ellipsis; overflow: hidden;"></p>
                            <!--只显示一行，溢出省略-->
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <hr>
                </div>
            </div>

        </div>
    </div>

</div><!--container-->

<!-- Modal-comment-edit -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" th:action="@{/student/course/comment-add}" enctype="multipart/form-data"
                  id="modal-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">你的问题：</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="modal-title" class="control-label">主题:</label><span style="color: red">*</span>
                        <input type="hidden" name="courseId" th:value="${course.id}">
                        <input type="text" size="30" id="modal-title" name="title"> <span id="title-hint" style="color: red"></span>
                    </div>
                    <div class="form-group">
                        <label for="modal-content" class="control-label">内容:</label><span style="color: red">*</span> <span id="content-hint" style="color: red"></span>
                        <textarea class="form-control" id="modal-content"  name="content" onfocus='textAreaChange(this)'
                                  onkeyup='textAreaChange(this)' onkeydown='textAreaChange(this)' rows="5" style="resize: none;"></textarea>
                        <div class='text-right'>
                            <em style='color:red'>200</em>/<span>200</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btn-comment-confirm">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/textareaNumControl.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {

        var titleBoolean=false;
        var contentBoolean=false;

        $('#modal-title').blur(function () {
            let len=$(this).val().length;
            if ( len === 0 || len>30) {
                titleBoolean = false;
                $("#title-hint").text("昵称不能为空或者超过30个字符！")
            } else {
                titleBoolean = true;
                $("#title-hint").text("");
            }
        });

        $('#modal-content').blur(function () {
            let len=$(this).val().length;
            if ( len === 0) {
                contentBoolean = false;
                $("#content-hint").text("内容不能为空！")
            } else {
                contentBoolean = true;
                $("#content-hint").text("");
            }
        });

        $("#btn-comment-confirm").click(function () {
            let len=$('#modal-title').val().length;
            titleBoolean = len > 0 && len < 30;
            contentBoolean = $('#modal-content').val().length > 0;

            if(titleBoolean&&contentBoolean){
                $("#modal-form").submit();
            }

        })

        $('#questionSelect').change(function() {
            window.location.href = "/student/course/comment?id="+[[${course.id}]]+"&&questionSelect="+$(this).val();
        });

        $('#questionSelect').val([[${questionSelect}]]);
    })
</script>
</body>
</html>