<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="home :: common_head"></head>

<body>

<div th:replace="home :: common_nav"></div>

<div class="container">

    <div class="row topStudy">
        <div class="col-md-5">
            <h3><a target="_blank" th:href="@{'/student/course/view?id='+${course.id}}" th:text="${course.name}">课程名称</a>
                <small><a th:href="@{'/student/lecturer/info?id='+${course.id}}" th:text=" ' 讲师：' +${course.lecturer.nickname}">讲师</a></small></h3>
        </div>
    </div>
    <div class="row lp-border-shadow">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked nav-pills-fit">
                <li role="presentation"><a th:href="@{|/student/course/notice?id=${course.id}|}"><span
                        class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 课程公告</a></li>
                <li role="presentation"><a th:href="@{|/student/course/learn?id=${course.id}|}"><span
                        class="glyphicon glyphicon-education" aria-hidden="true"></span> 课程学习</a></li>
                <li role="presentation"><a th:href="@{|/student/course/notes?id=${course.id}|}"><span
                        class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 课堂笔记</a></li>
                <li role="presentation" class="active"><a th:href="@{|/student/course/share?id=${course.id}|}"><span
                        class="glyphicon glyphicon-book" aria-hidden="true"></span> 课程共享资料</a></li>
                <li role="presentation"><a th:href="@{|/student/course/comment?id=${course.id}|}"><span
                        class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 问答区</a></li>
            </ul>
        </div>
        <div class="col-md-9 right-box" style="padding-left: 30px; padding-right: 30px; margin-top: 0;">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="active">课程共享资料</li>
                </ol>
            </div>
            <div class="row">
                <div class="panel-body" style="max-height: 400px; overflow-y:scroll"><!--滚动条-->
                    <div style="border: 1px  #000000; width: 90%; margin: 0 auto; line-height: 25px" th:each="shareDoc:${course.shareDocList}">
                        <span th:text="${shareDoc.time}"></span>
                        <a target="_blank" th:href="${shareDoc.site}" th:text="${shareDoc.name}"></a>
                    </div>
                </div>
            </div><!-- /.row -->
        </div>
    </div>

</div><!--container-->
</body>
</html>