<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="admin/admin_fragment :: common_head"></head>

<body>
<div th:replace="admin/admin_fragment :: common_nav"></div>

<div class="container">

    <div class="row lp-border-shadow" style="margin-top: 5%; padding-top: 50px; padding-bottom: 50px;">

        <div class="col-md-3">
            <div class="list-group "><!--列表组-->
                <a href="/admin/application/list" class="list-group-item"><span class="glyphicon glyphicon-envelope"
                                                                                aria-hidden="true"></span> 讲师申请</a>
                <a href="/admin/data/show" class="list-group-item"><span class="glyphicon glyphicon-th-list"
                                                                         aria-hidden="true"></span> 后台数据</a>
                <a href="/admin/setting" class="list-group-item"><span class="glyphicon glyphicon-cog"
                                                                       aria-hidden="true"></span> 课程设置</a>
                <a href="/admin/order/list" class="list-group-item"><span class="glyphicon glyphicon-euro"
                                                                          aria-hidden="true"></span> 订单管理</a>
                <a href="/admin/feedback/list" class="list-group-item"><span class="glyphicon glyphicon-comment"
                                                                             aria-hidden="true"></span> 平台反馈</a>
                <a href="/admin/password" class="list-group-item active"><span class="glyphicon glyphicon-edit"
                                                                               aria-hidden="true"></span> 修改密码</a>
            </div>
        </div>

        <div class="col-md-9 right-box">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="active">修改密码</li>
                </ol>
            </div>
            <form class="form-horizontal" method="post" th:action="@{/admin/password/modify}" id="passForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="raw-password">输入原始密码：</label>
                    <div class="col-sm-3">
                        <input type="password" id="raw-password" name="rawPassword">
                    </div>
                    <div class="col-sm-7 password-hint1" style="color: red"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="new-password">输入新密码：</label>
                    <div class="col-sm-3">
                        <input type="password" id="new-password" name="newPassword">
                    </div>
                    <div class="col-sm-7 password-hint2" style="color: red"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="confirm-password">确认新密码：</label>
                    <div class="col-sm-3">
                        <input type="password" id="confirm-password" name="confirmPassword">
                    </div>
                    <div class="col-sm-7 password-hint3" style="color: red"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-primary btn-sm" id="btn-submit">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</div><!--container-->

<script type="text/javascript">
    $(document).ready(function () {

        var passwordBoolean = false;
        var repeatBoolean = false;
        var confirmBoolean = false;

        $('#raw-password').blur(function () {
            if ($(this).val().length === 0) {
                passwordBoolean = false;
                $(".password-hint1").text("密码不能为空!");
            } else {
                passwordBoolean = true;
                $(".password-hint1").text("");
            }
        });
        $('#new-password').blur(function () {
            if ($(this).val().length === 0) {
                repeatBoolean = false;
                $(".password-hint2").text("密码不能为空!");
            } else {
                repeatBoolean = true;
                $(".password-hint2").text("");
            }
        });
        $('#confirm-password').blur(function () {
            if ($(this).val() != $('#new-password').val()) {
                confirmBoolean = false;
                $(".password-hint3").text("密码输入不一致!");
            } else {
                confirmBoolean = true;
                $(".password-hint3").text("");
            }
        });
        $('#btn-submit').click(function () {
            //console.log($("#checkbox-agree").prop("checked"));
            if (passwordBoolean && repeatBoolean && confirmBoolean) {
                //alert("修改成功");
                $.ajax({
                    url: "/admin/password/modify",
                    data:{rawPassword:$('#raw-password').val(),newPassword:$('#new-password').val(),confirmPassword:$('#confirm-password').val()},
                    type: "post",
                    datatype: "text",/*返回的就是一个json对象*/
                    success: function (data) {
                        alert(data);
                        if(data=='修改成功！'){
                            window.location.href = "/logout";
                        }

                    }
                });
                //$("form").submit();
            } else {
                alert("输入框不能为空或者密码输入不一致");
            }
        });
        /*$('#btn-submit').click(function(){
            //console.log($("#checkbox-agree").prop("checked"));
            if(passwordBoolean&&repeatBoolean&&confirmBoolean){
                //alert("修改成功");
                $("form").submit();
            }else {
                alert("输入框不能为空或者密码输入不一致");
            }
        });*/

        //在提交表单之前进行两次输入密码相同性验证
        /*$("#btn-confirm").click(function () {
            if ($("#new-password").val() === $("#confirm-password").val()) {
                $("#passForm").submit();
            } else {
                $("#message-tip").text("输入密码不一致!");
            }

        })*/

    });
</script>
</body>
</html>