<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="admin/admin_fragment :: common_head"></head>

<body>

<div th:replace="admin/admin_fragment :: common_nav"></div>

<div class="container">


  <div class="row lp-border-shadow" style="margin-top: 5%; padding-top: 50px; padding-bottom: 50px;">
    <div class="col-md-3">
      <div class="list-group "><!--列表组-->
        <a href="/admin/application/list" class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 讲师申请</a>
        <a href="/admin/data/show" class="list-group-item"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 后台数据</a>
        <!--<a href="#" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 账号解禁</a>&lt;!&ndash;系统对自动对账号进行查封，用户发起账号申诉&ndash;&gt;-->
        <a href="/admin/setting" class="list-group-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 课程设置</a>
        <a href="/admin/order/list" class="list-group-item"><span class="glyphicon glyphicon-euro"
                                                                  aria-hidden="true"></span> 订单管理</a>
        <a href="/admin/feedback/list" class="list-group-item active"><span class="glyphicon glyphicon-comment"
                                                                     aria-hidden="true"></span> 平台反馈</a>
        <a href="/admin/password" class="list-group-item"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改密码</a>
      </div>
    </div>
    <div class="col-md-9 right-box">
      <div class="row">
        <ol class="breadcrumb">
          <li class="active">信息反馈</li>
        </ol>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th width="20%">邮箱</th>
            <th width="15%">内容</th>
            <th width="20%">时间</th>
            <th>查阅状态</th>
            <th>
              <select name="viewStateSelect" th:value="${viewState}" id="viewStateSelect">
                <option value="-1">默认</option>
                <option value="0">未查阅</option>
                <option value="1">已查阅</option>
              </select>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="feedback, fdStat: ${feedbacks}">
            <th scope="row" th:text="${feedback.id}">1</th>
            <td th:text="${feedback.email}">1315387303@qq.com</td>
            <td th:text="${feedback.content}">content</td>
            <td th:text="${feedback.createTime}">time</td>
            <td th:if="${feedback.viewState==0}">未查阅</td>
            <td th:if="${feedback.viewState==1}">已查阅</td>
            <td><a id="btn-view" href="#" data-toggle="modal" data-target="#myModal">查看</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <nav aria-label="...">
          <ul class="pagination pull-right no-margin">

            <!-- 首页 -->
            <li>
              <a th:href="'/admin/feedback/list?pageNum=0'">首页</a>
            </li>

            <!-- 上一页 -->
            <li th:if="${feedbacks.hasPrevious()}">
              <a th:href="'/admin/feedback/list?pageNum=' + ${feedbacks.previousPageable().getPageNumber()}" th:text="上一页"></a>
            </li>

            <!-- 中间页 -->
            <li th:each="pageNum:${#numbers.sequence(0, feedbacks.getTotalPages() - 1)}">
              <a th:href="'/admin/feedback/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum ne feedbacks.pageable.getPageNumber()}"></a>
              <a th:href="'/admin/feedback/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:if="${pageNum eq feedbacks.pageable.getPageNumber()}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>

            <!-- 下一页 -->
            <li th:if="${feedbacks.hasNext()}">
              <a th:href="'/admin/feedback/list?pageNum=' + ${feedbacks.nextPageable().getPageNumber()}" th:text="下一页"></a>
            </li>

            <!-- 尾页 -->
            <li>
              <a th:href="'/admin/feedback/list?pageNum=' + ${feedbacks.getTotalPages() - 1}">尾页</a>
            </li>

          </ul>
        </nav>
      </div>

    </div>
  </div>

</div><!--container-->
<!-- Modal-content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">email</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <p id="p-content"></p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="btn-view-confirm">确定</button>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
  $(document).ready(function () {

    $("#btn-view").click(function () {
      let p=$(this).parent().parent();
      let fid=p.children("th").text();
      let e = p.children("td").eq(0).text();
      let c=p.children("td").eq(1).text();
      $("#btn-view-confirm").val(fid);
      $("#myModalLabel").text(e);
      $("#p-content").text(c);
    });

    $("#btn-view-confirm").click(function () {
      let fid=$(this).val();
      window.location.href = "/admin/feedback/modifyViewState?id="+fid;
    })

    $('#viewStateSelect').change(function() {
      window.location.href = "/admin/feedback/list?viewState="+$(this).val();
    });

    $('#viewStateSelect').val([[${viewState}]]);
  })
</script>
</body>
</html>