<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="teacher/teach_fragment :: common_head"></head>

<body>

<div th:replace="teacher/teach_fragment :: common_nav"></div>

<div class="container">
    <div class="row lp-border-shadow" style="margin-top: 5%; padding-top: 50px; padding-bottom: 50px;">
        <div class="col-md-3">
            <div class="list-group "><!--列表组-->
                <a th:href="@{/teacher/course/list}" class="list-group-item"><span class="glyphicon glyphicon-th-list"
                                                                                   aria-hidden="true"></span> 课程管理</a>
                <!--包括 发布新课程、修改课程信息、删除课程-->
                <a th:href="@{/teacher/teach/list}" class="list-group-item"><span class="glyphicon glyphicon-blackboard"
                                                                                  aria-hidden="true"></span> 授课系统</a>
                <!--包括 课程开启及关闭、上传课程视频、课程资源共享区、问答区-->
                <a th:href="@{/teacher/data/list}" class="list-group-item"><span class="glyphicon glyphicon-tasks"
                                                                                 aria-hidden="true"></span> 数据中心</a>
                <!--包括 课程开启及关闭、上传课程视频、课程资源共享区、问答区-->
                <a th:href="@{/teacher/info/messages}" class="list-group-item"><span class="glyphicon glyphicon-bell"
                                                                                     aria-hidden="true"></span> 我的消息</a>
                <a th:href="@{/teacher/account/view}" class="list-group-item"><span class="glyphicon glyphicon-yen"
                                                                                    aria-hidden="true"></span> 我的账户</a>
                <a th:href="@{/teacher/info}" class="list-group-item"><span class="glyphicon glyphicon-user"
                                                                            aria-hidden="true"></span> 个人信息</a>
                <a th:href="@{/teacher/password}" class="list-group-item active"><span class="glyphicon glyphicon-edit"
                                                                                       aria-hidden="true"></span>
                    修改密码</a>
            </div>
        </div>

        <div class="col-md-9 right-box">
            <div class="row">
                <ol class="breadcrumb">
                    <li class="active">个人信息</li>
                </ol>
            </div>
            <form class="form-horizontal" method="post" th:action="@{/teacher/password/modify}" id="passForm">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="raw-password">输入原始密码：</label>
                    <div class="col-sm-3">
                        <input type="password" id="raw-password" name="rawPassword">
                    </div>
                    <div class="col-sm-7 password-hint1" style="color: red"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="new-password">输入新密码：</label>
                    <div class="col-sm-3">
                        <input type="password" id="new-password" name="newPassword">
                    </div>
                    <div class="col-sm-7 password-hint2" style="color: red"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="confirm-password">确认新密码：</label>
                    <div class="col-sm-3">
                        <input type="password" id="confirm-password" name="confirmPassword">
                    </div>
                    <div class="col-sm-7 password-hint3" style="color: red"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-primary btn-sm" id="btn-submit">确定</button>
                    </div>
                </div>
            </form>
        </div>

    </div><!--container-->

    <script type="text/javascript">
        $(document).ready(function () {

            var passwordBoolean = false;
            var repeatBoolean = false;
            var confirmBoolean = false;

            $('#raw-password').blur(function () {
                if ($(this).val().length === 0) {
                    passwordBoolean = false;
                    $(".password-hint1").text("密码不能为空!");
                } else {
                    passwordBoolean = true;
                    $(".password-hint1").text("");
                }
            });
            $('#new-password').blur(function () {
                if ($(this).val().length === 0) {
                    repeatBoolean = false;
                    $(".password-hint2").text("密码不能为空!");
                } else {
                    repeatBoolean = true;
                    $(".password-hint2").text("");
                }
            });
            $('#confirm-password').blur(function () {
                if ($(this).val() != $('#new-password').val()) {
                    confirmBoolean = false;
                    $(".password-hint3").text("密码输入不一致!");
                } else {
                    confirmBoolean = true;
                    $(".password-hint3").text("");
                }
            });

            $('#btn-submit').click(function () {
                //console.log($("#checkbox-agree").prop("checked"));
                if (passwordBoolean && repeatBoolean && confirmBoolean) {
                    //alert("修改成功");
                    $.ajax({
                        url: "/teacher/password/modify",
                        data:{rawPassword:$('#raw-password').val(),newPassword:$('#new-password').val(),confirmPassword:$('#confirm-password').val()},
                        type: "post",
                        datatype: "text",/*返回的就是一个json对象*/
                        success: function (data) {
                            alert(data);
                        }
                    });
                    //$("form").submit();
                } else {
                    alert("输入框不能为空或者密码输入不一致");
                }
            });

            //在提交表单之前进行两次输入密码相同性验证
            /*$("#btn-confirm").click(function () {
                if ($("#new-password").val() === $("#confirm-password").val()) {
                    $("#passForm").submit();
                } else {
                    $("#message-tip").text("输入密码不一致!");
                }

            })*/

        });
    </script>
</body>
</html>