<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="teacher/teach_fragment :: common_head"></head>

<body>

<div th:replace="teacher/teach_fragment :: common_nav"></div>

<div class="container">

    <div class="row lp-border-shadow" style="margin-top: 5%; padding-top: 50px; padding-bottom: 50px;">
        <div class="col-md-3">
            <div class="list-group "><!--列表组-->
                <a th:href="@{/teacher/course/list}" class="list-group-item"><span class="glyphicon glyphicon-th-list"
                                                                                   aria-hidden="true"></span> 课程管理</a>
                <!--包括 发布新课程、修改课程信息、删除课程-->
                <a th:href="@{/teacher/teach/list}" class="list-group-item active"><span
                        class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> 授课系统</a>
                <!--包括 课程开启及关闭、上传课程视频、课程资源共享区、问答区-->
                <a th:href="@{/teacher/data/list}" class="list-group-item"><span class="glyphicon glyphicon-tasks"
                                                                                 aria-hidden="true"></span> 数据中心</a>
                <a th:href="@{/teacher/info/messages}" class="list-group-item"><span class="glyphicon glyphicon-bell"
                                                                                     aria-hidden="true"></span> 我的消息</a>
                <a th:href="@{/teacher/account/view}" class="list-group-item"><span class="glyphicon glyphicon-yen" aria-hidden="true"></span> 我的账户</a>
                <!--包括 课程开启及关闭、上传课程视频、课程资源共享区、问答区-->
                <a th:href="@{/teacher/info}" class="list-group-item"><span class="glyphicon glyphicon-user"
                                                                            aria-hidden="true"></span> 个人信息</a>
                <a th:href="@{/teacher/password}" class="list-group-item"><span class="glyphicon glyphicon-edit"
                                                                                aria-hidden="true"></span> 修改密码</a>
            </div>
        </div>
        <div class="col-md-9 right-box">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a th:href="@{/teacher/teach/list}">授课系统</a></li>
                    <li class="active" th:text="${course.name}"></li>
                    <li class="active">视频列表</li>
                </ol>
            </div>
            <div class="row row-remove-margin" style="line-height: 40px;">
                <form method="post" action=""></form>
                主目录：<input type="text" name="topTitle" id="topTitleInput">
                <button class="btn-primary btn-xs" id="addBtn">添加</button>
                <button class="btn-primary btn-xs" id="deleteBtn" onclick="confirm('确定删除？')">删除</button>
                <hr>
                <div id="topTitleList" style="margin-left: 30px;">
                    <div class="topTitle" th:each="topTitle:${course.topTitleList}">
                        <span style="font-size: 20px" th:text="${topTitle.title}"></span>
                        <button type="button" class="btn-nameModify btn-primary btn-xs" th:value="${topTitle.id}">修改名称</button>
                        <button type="button" data-toggle="modal" data-target="#myModal"
                                class="subTitleListBtn btn-primary btn-xs">编辑视频目录
                        </button>
                    </div>
                </div>

            </div><!-- /.row -->

        </div>
    </div>

</div><!--container-->

<!-- Modal-subtitle-edit -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">视频目录 </h4>
            </div>
            <div class="modal-body">
                <div class="panel-body" style="max-height: 400px; overflow-y:scroll"><!--滚动条-->
                    <div id="subTitleList" style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                        <!--视频目录 a标签-->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2">
                        <label>上传进度:</label>
                    </div>
                    <div class="col-sm-4">
                        <progress id="progressBar" value="0" max="100" style="width: 180px;"></progress>
                    </div>
                    <div class="col-sm-6">
                        <span id="percentage"></span><span id="time"></span>
                    </div>
                </div>
                <div class="row">
                    <form role="form" enctype="multipart/form-data" id="uploadingVideo">
                        <!--<form method="post" th:action="@{/teacher/teach/video-add}" enctype="multipart/form-data">-->
                        <input type="hidden" name="id" id="inputCourse" th:value="${course.id}">
                        <input type="hidden" name="topTitle" id="topTitle">
                        <div class="col-md-2">
                            <label for="file">上传视频:</label>
                        </div>
                        <div class="col-md-5">
                            <input type="file" id="file" name="file" required value="选择视频">
                        </div>
                        <div class="col-md-5">
                            <input style="display: inline-block" type="button" onclick="UploadFile()" value="上传">
                            <input style="display: inline-block" type="button" onclick="cancelUploadFile()" value="取消">
                            <!--<button type="button" id="fileSubmitBtn">提交</button>-->
                        </div>
                    </form>
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $("#addBtn").click(function () {
            let $newDiv = $('<div class="topTitle"></div>');
            let $newSpan = $('<span style="font-size: 20px"></span>');
            $newSpan.text($("#topTitleInput").val()+" ");
            let $newBtn = $('<button type="button" data-toggle="modal" data-target="#myModal" class="subTitleListBtn btn-primary btn-xs">编辑视频目录</button>');
            let $newEditBtn=$("<button type=\"button\" class=\"btn-nameModify btn-primary btn-xs\">修改名称</button>")
            $newDiv.append($newSpan);
            $newDiv.append($newEditBtn);
            $newDiv.append($newBtn);
            $("#topTitleList").append($newDiv);
            let title=$("#topTitleInput").val();
            $.ajax({
                url: "/teacher/teach/addTopTitle",
                type: "POST",
                data: {title: title, courseId: [[${course.id}]]},
                datatype: "text",
                success: function (data) {
                    $newEditBtn.val(data);
                }
            });
        });
        $(document).on("click", ".btn-nameModify", function () {
            let title = $(this).prev();
            title.replaceWith("<input id='name-modified' value='" + title.text() + "'>")
            $(this).replaceWith("<button class='btn-primary btn-xs' id='btn-certain' value='" + $(this).val() + "'>确定</button>")
        });

        //为创建出来的按钮添加 on()事件处理器，第一个参数挂click单机事件，并做相应逻辑
        $(document).on("click", "#btn-certain", function () {
            console.log($("#btn-certain").val());
            let name = $("#name-modified").val();
            let id=$("#btn-certain").val();
            $("#name-modified").replaceWith("<span style=\"font-size: 20px\">" + name + "</span>");
            $(this).replaceWith("<button type=\"button\" class=\"btn-nameModify btn-primary btn-xs\" value='"+id+"'>修改名称</button>");
            $.ajax({
                url: "/teacher/teach/modifyTopTitle",
                type: "POST",
                data: {id: id, title: name},
                datatype: "text",/*返回的就是一个text*/
                success: function (data) {
                    console.log(data);
                }
            });
        });
        $("#deleteBtn").click(function () {
            let str = $("#topTitleInput").val();
            let delElement = $(".topTitle:contains('" + str + "')");
            delElement.remove();
            /* $(".topTitle").remove(".topTitle span:contains('" + str + "')");*/

            $.ajax({
                url: "/teacher/teach/deleteTopTitle",
                type: "POST",
                data: {title: $("#topTitleInput").val(), courseId: [[${course.id}]]},
                //datatype: "json",/*返回的就是一个json对象*/
                success: function (data) {
                    return false;
                }
            });
        });
        $(document).on("click",".subTitleListBtn",function () {
            let topTitle = $(this).prev().prev().text();
            alert('123' + topTitle);
            $("#topTitle").val(topTitle);
            $("#subTitleList").empty();
            $.ajax({
                url: "/teacher/teach/subTitleList",
                type: "POST",
                data: {title: topTitle, courseId: [[${course.id}]]},
                datatype: "json",/*返回的就是一个json对象*/
                success: function (data) {
                    let subTitleList = data;
                    for (let i = 0; i < subTitleList.length; i++) {
                        let $newDiv = $('<div style="line-height: 25px;"></div>');
                        let $newA = $('<a>' + subTitleList[i].title + '</a>');
                        let $newBtn = $('<button type="button" class="subTitleDeleteBtn btn-primary btn-xs" >删除</button>');
                        let $newBr = $("<br>");
                        $newDiv.append($newA);
                        $newDiv.append($newBtn);
                        $newDiv.append($newBr);
                        $("#subTitleList").append($newDiv);

                    }
                }
            })
        });

        //为创建出来的按钮添加 on()事件处理器，第一个参数挂click单机事件，并做相应逻辑
        $(document).on("click", ".subTitleDeleteBtn", function () {
            let subTitle = $(this).prev().text();
            let topTitle = $("#topTitle").val();
            let removeDiv=$(this).parent();
            alert('删除' + topTitle + '/' + subTitle);
            $.ajax({
                url: "/teacher/teach/subTitleDelete",
                type: "POST",
                datatype:"text",
                data: {topTitle: topTitle, subTitle: subTitle, courseId: [[${course.id}]]},
                success: function (data) {
                    removeDiv.remove();
                    alert(data)
                }
            })
        });
        /*$("#fileSubmitBtn").click(function () {
            let formData = new FormData();      //FormData（） 文件上传https://developer.mozilla.org/zh-CN/docs/Web/API/FormData/FormData
            formData.append('id', $("#inputCourse").val());
            formData.append('topTitle', $("#topTitle").val());
            formData.append('file', $('#file')[0].files[0]);
            $.ajax({
                url: "/teacher/teach/video-add",
                type: "POST",
                dataType: "JSON",
                // contentType默认的值为：'application/x-www-form-urlencoded; charset=UTF-8，
                // 而文件上传一个是multipart/form-data，但是请求内容不只是文件上传。所有使用contentType:false
                contentType: false,
                //processData参数默认的值为true，会转数据格式，上传不需要转，所有使用processData: false
                processData: false,
                data: formData,
                success: function (data) {
                    let subTitle = data;
                    let $newDiv = $('<div></div>');
                    let $newA = $('<a>' + subTitle.title + '</a>');
                    let $newBtn = $('<button type="button" class="subTitleDeleteBtn btn-primary btn-xs" >删除</button>');
                    let $newBr = $("<br>");
                    $newDiv.append($newA);
                    $newDiv.append($newBtn);
                    $newDiv.append($newBr);
                    $("#subTitleList").append($newDiv);
                    alert('上传成功');
                },
                error: function (textStatus) {//请求失败后调用的函数
                    alert('上传失败');
                }
            })
        })*/
    });
</script>
<script type="text/javascript" th:inline="javascript">
    var xhr;
    var ot;//
    var oloaded;
    //上传文件方法
    function UploadFile() {
        var fileObj = document.getElementById("file").files[0]; // js 获取文件对象
        //var url = "uploadFile"; // 接收上传文件的后台地址
        let fileSize=fileObj.size;
        if (fileSize/(1024*1024*1024) >= 1) {
            alert("视频过大，大小不能超过1GB！");
            return false;
        }

        var form = new FormData(); // FormData 对象
        form.append("file", fileObj); // 文件对象
        form.append('id', $("#inputCourse").val());
        form.append('topTitle', $("#topTitle").val());

        xhr = new XMLHttpRequest();  // XMLHttpRequest 对象
        xhr.open("post", '/teacher/teach/video-add', true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
        xhr.onload = uploadComplete; //请求完成
        xhr.onerror =  uploadFailed; //请求失败
        xhr.upload.onprogress = progressFunction;//【上传进度调用方法实现】
        xhr.upload.onloadstart = function(){//上传开始执行方法
            ot = new Date().getTime();   //设置上传开始时间
            oloaded = 0;//设置上传开始时，以上传的文件大小为0
        };
        xhr.send(form); //开始上传，发送form数据
    }
    //上传进度实现方法，上传过程中会频繁调用该方法
    function progressFunction(evt) {

        var progressBar = document.getElementById("progressBar");
        var percentageDiv = document.getElementById("percentage");
        // event.total是需要传输的总字节，event.loaded是已经传输的字节。如果event.lengthComputable不为真，则event.total等于0
        if (evt.lengthComputable) {//
            progressBar.max = evt.total;
            progressBar.value = evt.loaded;
            percentageDiv.innerHTML = Math.round(evt.loaded / evt.total * 100) + "%";
        }

        var time = document.getElementById("time");
        var nt = new Date().getTime();//获取当前时间
        var pertime = (nt-ot)/1000; //计算出上次调用该方法时到现在的时间差，单位为s
        ot = new Date().getTime(); //重新赋值时间，用于下次计算

        var perload = evt.loaded - oloaded; //计算该分段上传的文件大小，单位b
        oloaded = evt.loaded;//重新赋值已上传文件大小，用以下次计算

        //上传速度计算
        var speed = perload/pertime;//单位b/s
        var bspeed = speed;
        var units = 'b/s';//单位名称
        if(speed/1024>1){
            speed = speed/1024;
            units = 'k/s';
        }
        if(speed/1024>1){
            speed = speed/1024;
            units = 'M/s';
        }
        speed = speed.toFixed(1);
        //剩余时间
        var resttime = ((evt.total-evt.loaded)/bspeed).toFixed(1);
        time.innerHTML = '，速度：'+speed+units+'，剩余时间：'+resttime+'s';
        if(bspeed===0)
            time.innerHTML = '上传已取消';
    }
    //上传成功响应
    function uploadComplete(evt) {
        //服务端接收完文件返回的结果
        //    alert(evt.target.responseText);
        alert("上传成功！");
        let subTitle = evt.target.responseText;
        let $newDiv = $('<div style="line-height: 25px;"></div>');
        let $newA = $('<a>' + subTitle + '</a>');
        let $newBtn = $('<button type="button" class="subTitleDeleteBtn btn-primary btn-xs" >删除</button>');
        let $newBr = $("<br>");
        $newDiv.append($newA);
        $newDiv.append($newBtn);
        $newDiv.append($newBr);
        $("#subTitleList").append($newDiv);
        //location.reload();
    }
    //上传失败
    function uploadFailed(evt) {
        alert("上传失败！");
    }
    //取消上传
    function cancelUploadFile(){
        xhr.abort();
    }
</script>
</body>
</html>