<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="teacher/teach_fragment :: common_head"></head>

<body>

<div th:replace="teacher/teach_fragment :: common_nav"></div>

<div class="container">

    <div class="row lp-border-shadow" style="margin-top: 5%; padding-top: 50px; padding-bottom: 50px;">
        <div class="col-md-3">
            <div class="list-group "><!--列表组-->
                <a th:href="@{/teacher/course/list}" class="list-group-item"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 课程管理</a><!--包括 发布新课程、修改课程信息、删除课程-->
                <a th:href="@{/teacher/teach/list}" class="list-group-item active"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> 授课系统</a><!--包括 课程开启及关闭、上传课程视频、课程资源共享区、问答区-->
                <a th:href="@{/teacher/data/list}" class="list-group-item"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 数据中心</a><!--包括 课程开启及关闭、上传课程视频、课程资源共享区、问答区-->
                <a th:href="@{/teacher/info/messages}" class="list-group-item"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 我的消息</a>
                <a th:href="@{/teacher/account/view}" class="list-group-item"><span class="glyphicon glyphicon-yen" aria-hidden="true"></span> 我的账户</a>
                <a th:href="@{/teacher/info}" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 个人信息</a>
                <a th:href="@{/teacher/password}" class="list-group-item"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改密码</a>
            </div>
        </div>
        <div class="col-md-9 right-box">
            <div class="row">
                <div class="col-lg-6">
                    <form method="post" th:action="@{/teacher/teach/search}">
                        <label for="course-search">课程搜索（名称）：</label>
                        <select name="categoryId" id="categorySelect">
                            <option value="0">默认</option>
                        </select>
                        <div class="input-group">
                            <input type="text" id="course-search" class="form-control" name="keyword"
                                   placeholder="请输入关键词">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">确定</button>
                        </span>
                        </div><!-- /input-group -->
                    </form>
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <table class="table table-hover" style="table-layout:fixed;">
                <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="25%">课程名称</th>
                    <th width="20%">课程类别</th>
                    <th width="10%">课程状态</th><!--课程开放/关闭，可考虑使用选择按钮-->
                    <th width="10%">课程公告</th><!--发布-->
                    <th width="10%">视频列表</th><!--视频列表-->
                    <th width="10%">资料共享</th><!--课程资料共享-->
                    <th width="10%">课程答疑</th><!--课程答疑-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="course, courseStat: ${courses}" th:title="${course.profile}">
                    <th scope="row" th:text="${courseStat.index + 1}">1</th>
                    <td th:text="${course.name}" th:title="${course.name}"
                        style="white-space:nowrap; text-overflow: ellipsis; overflow: hidden;">name
                    </td>
                    <td th:text="${course.courseCategory.category}">
                        category
                    </td>
                    <td th:if="${course.enabled==0}"><a
                            th:href="@{/teacher/teach/course-state(id=${course.id},enabled=${course.enabled})}">关闭</a>
                    </td>
                    <td th:if="${course.enabled==1}"><a
                            th:href="@{/teacher/teach/course-state(id=${course.id},enabled=${course.enabled})}">开放</a>
                    </td>
                    <td><a th:href="@{/teacher/teach/notice(id=${course.id})}">发布</a></td>
                    <td><a th:href="@{/teacher/teach/video-view(id=${course.id})}">编辑</a></td>
                    <td><a th:href="@{/teacher/teach/share-doc(id=${course.id})}">编辑</a></td>
                    <td><a th:href="@{/teacher/teach/comment(id=${course.id})}">答疑</a></td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination pull-right no-margin">

                    <!-- 首页 -->
                    <li>
                        <a th:href="'/teacher/teach/list?pageNum=0'">首页</a>
                    </li>

                    <!-- 上一页 -->
                    <li th:if="${courses.hasPrevious()}">
                        <a th:href="'/teacher/teach/list?pageNum=' + ${courses.previousPageable().getPageNumber()}"
                           th:text="上一页"></a>
                    </li>

                    <!-- 中间页 -->
                    <li th:each="pageNum:${#numbers.sequence(0, courses.getTotalPages() - 1)}">
                        <a th:href="'/teacher/teach/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}"
                           th:if="${pageNum ne courses.pageable.getPageNumber()}"></a>
                        <a th:href="'/teacher/teach/list?pageNum=' + ${pageNum}" th:text="${pageNum + 1}"
                           th:if="${pageNum eq courses.pageable.getPageNumber()}"
                           th:style="'font-weight:bold;background: #6faed9;'"></a>
                    </li>

                    <!-- 下一页 -->
                    <li th:if="${courses.hasNext()}">
                        <a th:href="'/teacher/teach/list?pageNum=' + ${courses.nextPageable().getPageNumber()}"
                           th:text="下一页"></a>
                    </li>

                    <!-- 尾页 -->
                    <li>
                        <a th:href="'/teacher/teach/list?pageNum=' + ${courses.getTotalPages() - 1}">尾页</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

</div><!--container-->
<script th:inline="javascript">
    $(document).ready(function () {

        $.ajax({
            url: "/teacher/course/category",
            type: "GET",
            datatype: "json",/*返回的就是一个json对象*/
            success: function (data) {
                let dataObj = data;
                $(dataObj).each(function () {
                    $("#categorySelect").append("<option value='"+this.categoryId+"'>"+this.category+"</option>")
                })
                $("#categorySelect").val([[${categoryId}]]);
            },

        });


    })
</script>
</body>
</html>