<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="teacher/teach_fragment :: common_head"></head>

<body>

<div th:replace="teacher/teach_fragment :: common_nav"></div>

<div class="container">

  <div class="row lp-border-shadow" style="margin-top: 5%; padding-top: 50px; padding-bottom: 50px;">
    <div class="col-md-3">
      <div class="list-group "><!--列表组-->
        <a th:href="@{/teacher/course/list}" class="list-group-item"><span class="glyphicon glyphicon-th-list"
                                                                           aria-hidden="true"></span> 课程管理</a>
        <!--包括 发布新课程、修改课程信息、删除课程-->
        <a th:href="@{/teacher/teach/list}" class="list-group-item"><span class="glyphicon glyphicon-blackboard"
                                                                          aria-hidden="true"></span> 授课系统</a>
        <!--包括 课程开启及关闭、上传课程视频、课程资源共享区、问答区-->
        <a th:href="@{/teacher/data/list}" class="list-group-item"><span class="glyphicon glyphicon-tasks"
                                                                         aria-hidden="true"></span> 数据中心</a>
        <!--包括 课程开启及关闭、上传课程视频、课程资源共享区、问答区-->
        <a th:href="@{/teacher/info/messages}" class="list-group-item"><span
                class="glyphicon glyphicon-bell" aria-hidden="true"></span> 我的消息</a>
        <a th:href="@{/teacher/account/view}" class="list-group-item active"><span class="glyphicon glyphicon-yen" aria-hidden="true"></span> 我的账户</a>
        <a th:href="@{/teacher/info}" class="list-group-item"><span class="glyphicon glyphicon-user"
                                                                    aria-hidden="true"></span> 个人信息</a>
        <a th:href="@{/teacher/password}" class="list-group-item"><span class="glyphicon glyphicon-edit"
                                                                        aria-hidden="true"></span> 修改密码</a>
      </div>
    </div>
    <div class="col-md-9 right-box">
      <div class="row">
        <ol class="breadcrumb">
          <li class="active">我的账户</li>
        </ol>
      </div>
      <div>
        <span style="font-size: 20px">入账金额：</span><span style="font-size: 20px" th:text="${lecturer.money}"></span> 元
        &emsp;<button type="button" class="btn btn-primary">提现</button>
      </div>
      <hr>
      <div class="panel-body" style="max-height: 400px; overflow-y:scroll">
        <div style="border: 1px  #000000; width: 90%; margin: 0 auto;" th:each="order:${orderList}">
          <p class="profile">[[${order.createTime}]] [[${order.student.nickname}]]购买了 课程[[${order.course.name}]]</p>
        </div>
      </div>
    </div>
  </div>

</div><!--container-->

</div>

</body>
</html>