<!DOCTYPE html>
<html lang="en">
<head th:replace="home :: common_head"></head>
<body>
<div id="help-title">
    <div class="wrap">
        <h2>帮助中心</h2>
    </div>
</div>
<div class="container" style="padding-bottom: 200px">
    <hr>
    <div>
        <h4>忘记登录密码怎么办？</h4>
        <p>忘记密码时，可通过点击登录界面的忘记密码进行密码重置操作。输入您的邮箱之后系统将会发送一封密码重置邮件，进入邮箱验证即可重置成功！</p>
    </div>
    <hr>
    <div>
        <h4>如何发起退款？</h4>
        <p>因本平台问题出现的课程购买错误问题可以通过发送相关邮件给管理员，管理员在核实信息后，将会联系您进行退款操作</p>
    </div>
    <hr>
    <div>
        <h4>退出课程后学习进度会重置吗？</h4>
        <p>退出课程后，学习信息不会重置，当重新加入课程后，仍可继续学习</p>
    </div>
    <hr>
    <div>
        <h4>怎么联系我们？</h4>
        <p>联系邮箱contact@123.com</p>
    </div>
</div>

<div th:replace="home :: footer"></div>
</body>
</html>